.email-container {
  display: flex;
  justify-content: center;
}

.password-container {
  display: flex;
  justify-content: center;
}

.email-label,
.password-label {
  display: flex;
  justify-content: center;
  left: 10px;
}
