* {
  box-sizing: border-box;
}

.page-link:hover {
  color: #fff;
  background-color: #a1b3f3;
}

.page-link,
.page-link:visited {
  /* color: #000000; */
  /* display: block; */
  text-decoration: none;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  position: fixed;
  top: 10%;
  left: 27%;
  height: 250px;
}

.input {
  margin-top: 290px;
  margin-left: 500px;
}

.search-img {
  height: 14px;
  padding-left: 5px;
}
