* {
  box-sizing: border-box;
}

.page-link,
.page-link:visited {
  color: #000000;
  display: block;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  position: fixed;
  top: 10%;
  left: 27%;
  height: 250px;
}

.input {
  /* padding-top: 260px;
  padding-left: 520px; */
  margin-top: 290px;
  margin-left: 490px;
  /* margin-top: 200px; */
  /* border: 1px solid red; */
}

.search-img {
  height: 14px;
  padding-left: 5px;
}
