* {
  box-sizing: border-box;
}

.page-link-container {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.page-link:hover {
  color: #fff;
  background-color: #a1b3f3;
}

.page-link,
.page-link:visited {
  text-decoration: none;
  padding-bottom: 3px;
  font-size: 17.5px;
  /* border: 1px solid rgb(69, 0, 0); */
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  position: fixed;
  top: 10%;
  left: 27%;
  height: 250px;
}

.input {
  margin-top: 310px;
  margin-left: 600px;
  margin-bottom: 10px;
}

.search-img {
  height: 14px;
  padding-left: 5px;
}
